@import "tailwindcss";
@font-face {
  font-family: 'Eagle Horizon';
  src: url('../assets/font/EagleHorizonP.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
:root {
  --clr-bg: #e5e3dc;
  --clr-overlay-bg: #141414;
  --clr-link: #e5e3dc;
  --clr-white: #fff;
  --clr-blue: #3B5FDF;
  --font-bebas: "Bebas Neue", sans-serif;
  --font-inter: "Inter", sans-serif;
  --font-poppins: "Poppins", sans-serif;
  --font-eagle: 'Eagle Horizon', serif;
}
@layer components{
  h1,h2,h3,h4,h5,h6{
    font-family: var(--font-bebas);
    @apply uppercase font-bold
  }
  h1{
    @apply leading-[90%] text-white  text-[6.5rem] md:text-[8.125rem]
  }
  h2{
    @apply text-white text-[4.2rem] md:text-[5.1rem]  leading-[90%]
  }
  h3{
    @apply text-white text-[3rem] md:text-[3.43rem]  leading-[100%]
  }
  .blog-main-content .top-content h2{
    @apply md:pe-5
  }
  .blog-main-content h3{
    @apply text-white mb-4 text-[3.2rem] md:text-[3.87rem] leading-[100%] pt-2 pb-1
  }
  .blog-main-content h4{
    @apply text-white mb-4 text-[2.4rem] md:text-[2.62rem] leading-[100%] pt-2 pb-1
  }
  .blog-main-content h5{
    @apply text-white mb-4 text-[2rem] md:text-[2.2rem] leading-[100%] pt-1
  }
  .blog-main-content p{
    @apply mb-5 leading-[120%] text-xl md:text-base
  }
  .blog-main-content ul{
    @apply text-white mb-6  ps-4  text-xl md:text-base
  }
  .blog-main-content ol{
    @apply text-white mb-6 ps-5
  }
  .blog-main-content ul li{
     @apply leading-[120%] list-disc mb-1
  }
  .blog-main-content ol li{
     @apply leading-[120%] list-decimal mb-1
  }
  h4{
    @apply font-medium text-white text-[1.8rem] md:text-[2rem]
  }
  h5{
     @apply text-white text-[1.6rem] md:text-[1.8rem] leading-[100%]
  }

  .hero-heading span {
    @apply inline-block bg-white rounded-[2rem] px-6 py-2 my-2;
  }

  .hero-heading .accent {
    @apply bg-transparent font-[cursive] text-[#3B5FDF] italic text-2xl sm:text-4xl lg:text-5xl;
  }



  .jumbotron-title h2,.jumbotron-title h3{
    @apply font-bold text-[7.5rem] md:text-[18.43rem] text-white leading-[85%]
  }
  .jumbotron-title span{
    font-family: var(--font-eagle);
    @apply text-[1.8rem] md:text-[4.375rem] text-[#3B5FDF]
  }
  .heading-accent h2,.heading-accent h3{
    @apply font-bold text-[3.9rem] md:text-[9.375rem] 
  }
  .heading-accent.center-aligned > span{
    font-family: 'Eagle Horizon', serif;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    @apply  absolute text-[1.8rem] md:text-[4.37rem] z-10 flex-nowrap text-[#3B5FDF] w-full 
  }
  .heading-accent.left-aligned > span{
    font-family: 'Eagle Horizon', serif;
    top: 57%;
    left: 2%;
    transform: translateY(-50%);
    @apply  absolute text-[1.8rem] md:text-[4.37rem] z-10 flex-nowrap text-[#3B5FDF] w-full 
  }

  p{
    @apply text-white font-medium
  }
  .intro-main-title{
    @apply font-bold text-[40px] md:text-[110px] lg:text-[150px] text-[#142041]
  }
  .cta-link{
    @apply  text-xl md:text-xl text-white font-medium underline hover:text-[#3b82f6] decoration-[#3b82f6] -outline-offset-4
  }
  .intro-section{
    @apply  py-[1rem] md:py-[3rem] px-[0.25rem] md:px-[1rem]
  }
  
  .arrow-icon{
    @apply  w-[3rem] h-[3rem] md:w-[4.37rem]  md:h-[4.37rem]
  }
  
  
  .industry-cell {
    @apply border-r border-b border-[0.06rem] border-white px-3 py-8 md:py-10 relative flex items-center justify-center cursor-pointer transition-colors;
  }
  .industry-cell span {
    @apply text-white font-medium text-xl md:text-[1.375rem] leading-[121%] text-center;
  }
  .industry-cell img{
    @apply absolute object-cover w-full h-full
  }
  
  .vertical-heading h2 {
    @apply text-white font-bold h-full text-[3.12rem] md:text-[8.12rem] leading-[90%] mt-4 md:mt-8;
  }
  .vertical-heading span{
    @apply block transform md:text-end
  }
  
  .images-container{
    @apply flex h-[22rem] md:h-[45.43rem] gap-[1rem]
  }

  .image-panel{
    @apply h-[22rem] md:h-[45.43rem]
  }

  .rtr-title{
    @apply font-bold text-white text-[150px] py-12 leading-0 
  }

  .q-image{
    @apply absolute left-1/2 -translate-x-1/2 top-0 py-3 px-3 md:px-5 w-full h-auto object-cover object-center opacity-0 transition-opacity duration-500 ease-out;
  }
  .tab-item{
    @apply  cursor-pointer border-l md:border-l-0 md:border-b border-white px-4 md:ps-7 py-4 transition-colors w-full max-w-[38.1rem] mb-0
  }
  .tab-item span{
    font-family: var(--font-bebas);
    @apply  uppercase text-white text-[1.5rem] md:text-[2.62rem] leading-[90%]
  }
  .bg-image{
    @apply absolute w-full h-full left-0 top-0
  }
  .bg-image img{
    @apply w-full h-full object-cover object-center
  }
  .secondary-banner h1{
    @apply md:text-[13.12rem]
  }
  .blog-card .card-content{
    @apply bg-white hover:bg-[#3B5FDF]
  }
  .share-article ul{
    @apply space-x-[0.8rem]
  }
  .share-article li a{
    @apply bg-[#3B5FDF] w-[1.75rem] h-[1.75rem] rounded-sm flex items-center justify-center
  }
  .share-article li.share-link a{
    @apply bg-transparent w-[6.31rem] h-[2.43rem] rounded-none flex items-center justify-center
  }
  .form ::-webkit-input-placeholder {
    @apply uppercase text-base text-[#FBFBFB];
  }
  .form :-ms-input-placeholder {
    @apply uppercase text-base text-[#FBFBFB];
  }
  .form ::-ms-input-placeholder {
    @apply uppercase text-base text-[#FBFBFB];
  }
  .form ::-moz-placeholder {
    @apply uppercase text-base text-[#FBFBFB];
  }
  .form ::placeholder {
    @apply uppercase text-base text-[#FBFBFB];
  }
}


  

  .text{
    font-weight: 500;
    font-family: var(--font-inter);
  }
  .poppins{
    font-family: var(--font-poppins);
  }
  .bebas{
    font-family: var(--font-bebas);
  }






html,body {
    background-color:#142041;
    overflow-x: hidden;
    user-select: none;
    font-family: var(--font-inter);
    font-weight: 500;
}
header .overlay svg path {
  fill: var(--clr-overlay-bg);
}
header .overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  opacity: 0;
  z-index: 5;
  pointer-events: none;
  transition: opacity 0.5s ease;
  display: block;
}
header .overlay.active {
  opacity: 1;
  pointer-events: auto;
}
header .overlay svg {
  opacity: 0;
  transition: opacity 0.5s ease;
}
header .overlay.active svg {
  opacity: 1;
}
#toggle-btn {
  position: absolute;
  top: 0;
  right: 0;
  width: 22.12rem;
  height: auto;
  margin-right: 3.125rem;
  margin-top: -0.43rem;
  z-index: 999;
  cursor: pointer;
  transition: transform 0.3s ease;
}

#toggle-btn:hover {
  transform: scale(1.1);
}

header .nav-image {
  width: 100%;
  height: 100%;
  object-fit: contain;
  transition: filter 0.3s ease;
}





.main-navigation {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  margin-inline: 2rem;
  display: flex;
  z-index: 31;
}

.main-navigation > div {
  height: 100%;
  display: flex;
}
.main-navigation a {
  position: relative;
  top: 100vh;
  line-height: 0.9;
  text-decoration: none;
  color: var(--clr-link);
}
.main-navigation a:hover{
  color: #3B5FDF
}
.main-navigation a span {
  font-size: 20px;
  margin-right: 2em;
}
.menu-item {
  position: relative;
}

.menu-container {
  width: 70%;
  /* height: 50%; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.primary-menu {
  flex: 3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.primary-menu a{
  line-height: 1;
}
.primary-menu .menu-container ul {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.primary-menu a {
  text-transform: uppercase;
  font-size: 7.812rem;
  font-weight: 500;
}
.secondary-menu {
  position: relative;
  flex: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8em;
  flex-direction: column;
}
.secondary-menu .menu-item a {
  font-size: 2.25rem;
}

.secondary-menu .menu-container ul:nth-child(1) {
  display: flex;
  flex-direction: column;
  gap: 1.875rem;
}


/* Mobile view adjustments */
@media (max-width: 767px) {
  #toggle-btn {
    margin-right: 1.25rem;
    margin-top: 0.625rem;
  }
  .secondary-menu .menu-container ul:nth-child(1){
    gap: 1rem;
  }

  .primary-menu a {
    font-size: 3.812rem;
  }
  .secondary-menu .menu-item a {
    font-size: 1.5rem;
  }
  .main-navigation{
    margin-inline: 0;
  }
  
  
  
}


/*----------Loader----------------*/

.loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: #3B5FDF;
  z-index: 9999;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.upper-text, .lower-text {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  text-transform: uppercase;
}

.upper-text span, .lower-text span {
  /* Responsive font size */
  /* font-size: clamp(2rem, 15vw, 250px); */
  font-size: 13.43rem;
  font-family: var(--font-poppins);
  font-weight: 700;
  color: #fff;
  white-space: nowrap;
  opacity: 0;
  transform: translateX(0);
  line-height: 1;
  letter-spacing: -0.125rem;
}

.upper-text span {
  transform: translateX(100vw);
}

.lower-text span {
  transform: translateX(-100vw);
}


/*---------Hero section------------------*/

.hero {
  transform: scale(0.2);
  opacity: 0;
  gap: 0;
  transition: none;
}

/*---------Intro section------------------*/

.intro-section {
  display: flex;
  width: 100%;
  height: auto;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: relative;
  color: white;
}

.arrow-down {
  margin: 2.2rem 0 3rem;
}

.arrow-icon {
  color: white;
  animation: bounce 2s infinite;
  cursor: pointer;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-10px);
  }
  60% {
    transform: translateY(-5px);
  }
}

.text-block {
  display: flex;
  flex-direction: column;
  align-items: center;
 
}

.intro-main-title {
  background: white;
  padding: 0rem 2rem 0rem  2rem;

  border-radius: 3rem;
}



.middle-line {
  position: relative;
}





/*---------Gallery-------------*/

.gallery {
  padding: 5rem 0rem;
  overflow: hidden;
}



/*--------Industry cell----------*/


.industry-cell {
  position: relative;
  overflow: hidden;
}

.industry-cell::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #3B5FDF;
  z-index: 1;
  transition: all 1s cubic-bezier(.4,0,.2,1);
  opacity: 0;
  visibility: none;
  pointer-events: none;
}
.industry-cell:hover::before{
  opacity: 0.82;
  visibility: visible;
}
.industry-cell img{
  opacity: 0;
  transition: all 1s cubic-bezier(.4,0,.2,1);
}
.industry-cell:hover img{
  opacity: 1;
  transform: scale(1.06);
}

.industry-cell:hover::before {
  width: 100%;
}

.industry-cell span {
  position: relative;
  z-index: 2;
  transition: color 0.4s cubic-bezier(.4,0,.2,1);
}


/* --- Hover Text Show Section --- */


.text-content {
  opacity: 0;
  transform: translateX(-1.25rem);
  pointer-events: none;
  display: none;
  transition: opacity 0.35s, transform 0.35s;
}
.text-content.active {
  opacity: 1;
  transform: translateX(0);
  display: block;
  pointer-events: auto;
}
.text-content p{
  word-wrap: break-word;
}

.image-panel {
  flex: 1;
  min-width: 0;
  background-size: cover;
  background-position: center;
  cursor: pointer;
  position: relative;
  transition: flex 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  overflow: hidden;
  border-radius: 0;
}
.image-panel::before {
  content: '';
  position: absolute;
  inset: 0;
  background: rgba(0,0,0,0.3);
  transition: background 0.3s;
  z-index: 1;
}
.image-panel:hover::before {
  background: rgba(0,0,0,0.1);
}
.image-panel.expanded {
  flex: 2.6;
  z-index: 2;
}
.image-panel:not(.expanded) {
  flex: 0.9;
}

.vertical-heading h2{
  writing-mode: vertical-rl;
  text-orientation: mixed;
  font-family: var(--font-bebas);
  color: var(--color-white);
  transform: rotate(180deg);
}




@layer base {
  html{
    font-size: 16px;
  }
  html.disable-scroll{
    overflow: hidden;
  }
  body{
    font-size: 1.125rem;
  }
  header{
    position: relative;
    z-index: 999;
  }
  .toggle-btn.fixed{
    position: fixed !important;
  }
  header .main-navigation{
    pointer-events: none;
  }
  header .main-navigation.active{
    pointer-events: all;
  }
  .btn{
    padding: 0.84rem 1.44rem; 
    font-family: var(--font-poppins);
    font-weight: 600;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border: 0.06rem solid white;
    font-size: 1.125rem;
  }
  .gallery-item img{
    width: 100%;
  }
  .gallery-slider .swiper-wrapper {
    transition-timing-function: linear !important;
  }
  .gallery-slider.rotated-slides .gallery-item img{
    transform: rotate(-8deg);
    border: 0.4rem solid var(--clr-white)
  }
  .heading-accent h2{
    display: flex;
    flex-direction: column;
    line-height: 0.7;
    align-items: center;
  }
  .heading-accent.center-aligned h2{
    align-items: center;
  }
  .heading-accent h2 em{
    width: auto;
    display: inline-block;
    border-radius: 1.8rem;
    padding: 2rem 1.5rem 2.2rem;
    font-style: normal;
    position: relative;
  }
  .heading-accent.center-aligned h2 em:first-of-type{
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
  .heading-accent.center-aligned h2 em:first-of-type:before,.heading-accent.center-aligned h2 em:first-of-type:after{
    content: '';
    width: 2.4rem;
    height: 2.4rem;
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    bottom: -0.3rem;
    z-index: 0;
    background-image: url('../assets/images/icons/right-reverse-curve.svg');
  }
  .heading-accent.center-aligned h2 em:first-of-type:before{
    left: -2.3rem;
    transform: scaleX(-1);
  }
  .heading-accent.center-aligned h2 em:first-of-type:after{
    right: -2.3rem;
  }
  .heading-accent.left-aligned h2 em{
   
    padding: 2.3rem 2rem 2.5rem;
  }
  .heading-accent.left-aligned h2 em:first-of-type{
    padding: 3.2rem 2rem 2rem;
    border-bottom-right-radius: 0;
  }
  .heading-accent.left-aligned h2 em:nth-of-type(2){
    padding-bottom: 2.8rem;
  }
  .heading-accent.left-aligned h2 em:first-of-type,.heading-accent.left-aligned h2 em:nth-of-type(2){
    border-bottom-left-radius: 0;
  }
  .heading-accent.left-aligned h2 em:nth-of-type(2),.heading-accent.left-aligned h2 em:nth-of-type(3){
    border-top-left-radius: 0;
  }
  .heading-accent.left-aligned h2 em:nth-of-type(3){
    border-top-right-radius: 0;
  }
  .heading-accent.left-aligned h2 em:first-of-type:after{
    content: '';
    width: 2.4rem;
    height: 2.4rem;
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    bottom: -0.2rem;
    z-index: 0;
    right: -2.2rem;
    background-image: url('../assets/images/icons/right-reverse-curve-dark.svg');
  }
  .heading-accent.left-aligned h2 em:nth-of-type(3):after{
    content: '';
    width: 2.4rem;
    height: 2.4rem;
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    top: -0.2rem;
    z-index: 0;
    right: -2.3rem;
    transform: scaleY(-1);
    background-image: url('../assets/images/icons/right-reverse-curve-dark.svg');
  }
   .footer-navigation ul{
    display: flex;
    flex-wrap: wrap;
   }
   .footer-navigation li{
    margin-right: 4.5rem;
    margin-bottom: 2.3rem;
   }
  .footer-navigation li a{
    font-family: var(--font-bebas);
    color: var(--clr-white);
    text-transform: uppercase;
    font-size: 2.63rem;
    font-weight: 700;
    line-height: 1.1;
  }
  .footer-navigation li a:hover{
    color: #3B5FDF
  }

  .contact-info a{
    font-family: var(--font-bebas);
  }
  .secondary-banner h1{
    position: relative;
  }
  .secondary-banner h1 i:before{
    content: '';
    color: var(--clr-blue);
    width: 12.25rem;
    height: 13.8rem;
    background-image: url('../assets/images/icons/hash-icon.svg');
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    left: -3.75rem;
    top: -3.2rem;
  }
  .service-card{
    text-transform: uppercase;
  }
  
  .service-card h3{
    line-height: 0.9rem;
    padding-right: 2rem;
  }
  .service-card p{
    line-height: 1.2;
  }
  .service-card .card-content{
    height: 100%;
  }
  .service-card .card-content h3,.service-card .card-content p{
    z-index: 1;
    position: relative;
  }
  .service-card .card-content::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 0;
    height: 100%;
    background: var(--clr-blue);
    z-index: 0;
    transition: width 1s cubic-bezier(.4,0,.2,1);
    pointer-events: none;
  }
  .service-card .card-content:hover:before{
    width: 100%;
  }
  .service-card .feature-image{
    opacity: 0;
  }
  .service-card .card-content:hover .feature-image{
    opacity: 1;
    transform: rotate(-8deg);
    transition: all 1s cubic-bezier(.4,0,.2,1);
  }
  .testimonials-block .icon-bar:before,.testimonials-block .icon-bar:after{
    content: '';
    position: absolute;
    left: 0;
    height: 4rem;
    width: 100%;
    background-color: #142041;
  }
  .testimonials-block .icon-bar img{
    width: 17.3rem;
    height: auto;
  }
  .testimonials-block .icon-bar:before{
    top: -3.9rem;
    border-top-right-radius: 3.4rem;
    border-top-left-radius: 3.4rem;
  }
  .testimonials-block .icon-bar:after{
    bottom: -3.9rem;
    border-bottom-right-radius: 3.4rem;
    border-bottom-left-radius: 3.4rem;
  }
  .testimonial-slider .meta-info{
    padding-bottom: 1.4rem;
    padding-top: 0.3rem;
  }
  .testimonial-slider .meta-info span{
    font-family: var(--font-inter);
  }
  .testimonial-slider .swiper-pagination{
      bottom: 2rem !important;
      padding-left: 3.7rem;
      width: auto !important;
  }
  .testimonial-slider .swiper-pagination .swiper-pagination-bullet{
      width: 1.62rem !important;
      height: 0.31rem !important;
      background: #D9D9D9 !important;
      opacity: 1 !important;
      border-radius: 0.16rem !important;
      margin: 0 !important;
      margin-right: 0.3rem !important;
  }
  .testimonial-slider .swiper-pagination .swiper-pagination-bullet-active{
      background: var(--clr-blue) !important;
  }
  .testimonial-slider .content-holder:after{
    content: '';
    width: 6.68rem;
    height: 5.5rem;
    background-image: url('../assets/images/icons/quote-blue-icon.svg');
    background-size: contain;
    background-repeat: no-repeat;
    right: 0;
    bottom: 1.8rem;
    z-index: 0;
    position: absolute;
    z-index: 1;
  }
  .team-listing .member-item .member-content{
    border-bottom: 0.07rem solid var(--clr-blue)
  }
  .team-listing .member-item .overlay-content{
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    visibility: hidden;
    background-color: rgba(8, 24, 67,0.5);
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    text-align: center;
    height: 100%;
    width: 100%;
    padding: 3rem 2.3rem;
    border-bottom: 0.1rem solid rgba(0,0,0,0);
    transition: all 1s cubic-bezier(.4,0,.2,1);
    backdrop-filter: blur(1.7px);
    -webkit-backdrop-filter: blur(1.7px); 
  }
  .team-listing .member-item .member-content:hover .overlay-content,.team-listing .member-item .member-content:focus .overlay-content{
    border-bottom-color: var(--color-white);
    top: 0;
    opacity: 1;
    visibility: visible;
  }
  .member-item .feature-image img{
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
  .member-item .overlay-content .blur-btn{
    background-color: rgba(59, 95, 223, 0.1);
    backdrop-filter: blur(60px);
    -webkit-backdrop-filter: blur(60px); 
    padding: 0.74rem 1.5rem;
    border: 0.07rem solid var(--clr-blue);
    color: var(--color-white);
    font-size: 0.875rem;
    min-width: 13.3rem;
    transition: all 0.3s ease 0s;
  }
  .member-item .overlay-content .blur-btn:hover{
    background-color: rgba(59, 95, 223, 0.3);
  }
  .member-item .overlay-content h3{
    position: relative;
    padding-left: 7.5rem;
    padding-right: 7.5rem;
    width: 100%;
    line-height: 0.9rem;
    font-size: 4.37rem;
  }
  .member-item .overlay-content h3:before,.member-item .overlay-content h3:after{
    content: '';
    position: absolute;
    top: 65%;
    transform: translateY(-50%);
    height: 0.4rem;
    width: 11.5rem;
    background-size: contain;
    background-repeat: no-repeat;
  }
  .member-item .overlay-content h3:before{
    left: 0;
    background-image: url('../assets/images/team/heading-left-line.svg');
  }
  .member-item .overlay-content h3:after{
    right: 0;
    background-image: url('../assets/images/team/heading-right-line.svg');
  }
  .hero-image img{
    width: 100%;
  }
  .ourvalues-listing .item{
    letter-spacing: 0.04rem;
  }
  .ourvalues-listing .item > div{
    transition: all 0.3s ease 0s;
  }
  .ourvalues-listing .item > div:before{
    content: '';
    position: absolute;
    height: 100%;
    width: 0;
    background-color: var(--clr-white);
    top: 0;
    left: 0;
    z-index: 0;
    transition: width 1s cubic-bezier(.4,0,.2,1);
  }
  .ourvalues-listing .item > div *{
    position: relative;
  }
  .ourvalues-listing .item > div:hover:before{
    width: 100%;
  }
  .ourvalues-listing .item > div:after{
    content: '';
    position: absolute;
    left: 1.3rem;
    top: 50%;
    transform: translateY(-50%);
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url('../assets/images/icons/bulb-icon.svg');
    filter: brightness(0) invert(1);
    width: 2rem;
    height: 2rem;
  }
  .ourvalues-listing .item > div:hover:after{
    filter: none;
  }
  .blog-card .card-content{
    transition: all 0.3s ease 0s;
    height: 100%;
  }
  .blog-card .card-content .feature-image{
    position: relative;
    padding: 31.5% 0;
    overflow: hidden;
  }
  .blog-card .card-content .feature-image img{
    object-fit: cover;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    transition: all 1s cubic-bezier(.4,0,.2,1);
  }
  .blog-card .card-content:hover .feature-image img{
    transform: scale(1.03);
  }
  .blog-card .card-content h3,.blog-card .card-content h3 a{
    color: var(--clr-blue);
  }
  .blog-card .card-content:hover h3,.blog-card .card-content:hover h3 a{
    color: var(--clr-white);
  }
  .blog-card .card-content h3{
    position: relative;
  }
  .blog-card .card-content h3 i{
    pointer-events: none;
  }
  .blog-card .card-content h3{
    position: relative;
    padding-left: 1.3rem;
    padding-right: 2rem;
  }
  .blog-card .card-content h3:before{
    content: '';
    width: 2.45rem;
    height: 3rem;
    background-image: url('../assets/images/icons/hash-icon.svg');
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    left: 0.1rem;
    top: 0;
    filter: brightness(0);
  }
  .toc-block ol{
    padding-left: 1rem;
  }
  .toc-block ol li{
    list-style: numeric;
  }
  .toc-block ol ol li{
    list-style: lower-alpha
  }
  .blog-main-content h2{
    position: relative;
  }
  .blog-main-content h2 i:before {
    content: '';
    color: var(--clr-blue);
    width: 4rem;
    height: 4.5rem;
    background-image: url('../assets/images/icons/hash-icon.svg');
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    left: -1.5rem;
    top: -0.8rem;
  }
  .faq-listing .faq-item{
    border-bottom: 0.04rem solid var(--clr-white);
  }
  .faq-listing .faq-item.in{
    border-bottom: 0.04rem solid var(--clr-blue);
  }
  .faq-item .heading{
    padding-left: 4rem;
    padding-right: 0.1rem;
    padding-top: 0.6rem;
    padding-bottom: 0.6rem;
    position: relative;
    display: flex;
    align-items: center;
    min-height: 8.75rem;
    cursor: pointer;
  }
  .faq-item .heading h4{
    margin-bottom: 0 !important;
  }
  .faq-item .heading:before{
    content: '';
    color: var(--clr-blue);
    width: 1.87rem;
    height: 1.87rem;
    background-image: url('../assets/images/icons/faq-arrow.svg');
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    left: 0.5rem;
    top: 50%;
    filter: brightness(0) invert(1);
    transform: translateY(-50%) rotate(-90deg);
    transition: all 0.3s ease 0s;
  }
  .faq-item.in .heading:before{
    filter: none;
    transform: translateY(-50%);
  }
  /* .faq-item .faq-content{
    padding: 1.5rem 1.7rem 0.5rem;
    background-color: var(--clr-blue);
  } */
  .faq-item .faq-content p,.faq-item .faq-content ul{
    margin-bottom: 1rem;
  }
  .faq-item .faq-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.4s ease;
    padding: 0 1.7rem;
    background-color: var(--clr-blue);
  }

  .faq-item.in .faq-content {
    padding: 1.5rem 1.7rem 0.5rem;
  }
  
  .faq-item.in .heading h4{
    font-size: 3.87rem !important;
    color: var(--clr-blue) !important;
    line-height: 0.94 !important;
  }
  .post-navigation h5{
    line-height: 0.85 !important;
  }
  .toc-block .content {
    padding-top: 1.25rem;
    padding-bottom: 1.5rem;
  }
  .blog-main-content .meta-info .avatar,.blog-main-content .meta-info .icon,.blog-aside-content .meta-info .avatar,.blog-aside-content .meta-info .icon{
    background: linear-gradient(#3B5FDF, #203479);
    border-radius: 100%;
    height: 4.25rem;
    width: 4.25rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .blog-aside-content .meta-info .avatar,.blog-main-content .meta-info .avatar{
    position: relative;
  }
  .blog-aside-content .meta-info .avatar img,.blog-main-content .meta-info .avatar img{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .blog-aside-content .meta-info .icon img,.blog-main-content .meta-info .icon img{
    width: 1.63rem;
  }
  .blog-aside-content .top-content{
    text-transform: uppercase;
  }
  .post-navigation .btn:hover{
    background: var(--clr-blue) !important;
    color: var(--clr-white) !important;
    border-color: var(--clr-blue) !important;
  }
  .post-navigation h5 i{
    position: relative;
  }
  .post-navigation h5 i:before{
    content: '';
    color: var(--clr-blue);
    width: 2.8rem;
    height: 3.2rem;
    background-image: url('../assets/images/icons/hash-icon.svg');
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    left: -0.8rem;
    top: -0.2rem;
  }
  .post-navigation .post-next-btn h5 a{
    display: flex;
  }
  .post-navigation .post-next-btn h5 i{
   order: 2
  }
  .post-navigation .post-next-btn h5 i:before{
    left: auto;
    right: -0.4rem;
    top: -0.3rem;
  }
  .contact-form label{
    color: #FBFBFB;
    font-family: var(--font-bebas);
    text-transform: uppercase;
    margin-bottom: 0;
    display: block;
    font-size: 2.62rem;
    line-height: 0.95;
  }
  .contact-form input,.contact-form select{
    width: 100%;
    border:0;
    background-color: rgba(0,0,0,0);
    border-bottom: 0.06rem solid #FBFBFB;
    padding: 1rem 0;
    text-transform: uppercase;
    font-size: 1rem;
  }
  .contact-form textarea{
    padding: 1rem 0;
    height: 13rem;
    resize: none;
    width: 100%;
    border-bottom: 0.06rem solid #FBFBFB;
  }
  .contact-form input:focus, .contact-form select:focus,.contact-form textarea:focus{
    outline: none;
    box-shadow: none;
  }
  .contact-form .select-field{
    position: relative;
  }
  .contact-form .select-field:after{
    content: '';
    pointer-events: none;
    position: absolute;
    right: 0;
    top: 1.6rem;
    border-top: 0.76rem solid var(--color-white);
    border-left: 0.66rem solid transparent;
    border-right: 0.66rem solid transparent;
    width: 0.8rem;
    height: 0.8rem;
  }
  .contact-form .select-field select{
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: none; 
    padding-right: 1rem;
  }
  .contact-form .select-field select option{
    color: #000;
    padding: 0.1rem 0.5rem;
  }
  .contact-form input[type=submit],.contact-form button[type=submit]{
    background-color: var(--clr-blue);
    color: var(--clr-white);
    text-transform: uppercase;
    border: 0;
    padding: 1rem 1.5rem;
    border-radius: 0.5rem;
    font-size: 1rem;
    width: 100%;
    cursor: pointer;
    transition: all 0.3s ease 0;
  }
  .contact-form input[type=submit]:hover,.contact-form button[type=submit]:hover{
    background-color: var(--color-white);
    color: #000;
  }
  .contact-form .input-no-border input{
    border: 0;
  }
  input[type=checkbox]{
    width: 2rem;
    height: 2rem;
    padding: 0;
  }
  .checkbox-field label{
    font-size: 1rem;
    font-family: var(--font-inter);
    font-weight: 400;
    text-transform: inherit;
    padding-left: 3rem;
    position: relative;
  }
  .checkbox-field input[type=checkbox]{
    opacity: 0;
    display: none;
  }
  .checkbox-field input[type=checkbox] + label{
    min-height: 2rem;
    display: flex;
    align-items: center;
    line-height: 1.1;
  }
  .checkbox-field input[type=checkbox] + label:before{
    content: '';
    width: 2rem;
    height: 2rem;
    background-color: var(--clr-white);
    position: absolute;
    left: 0;
    top: 0.1rem;
    transition: all 0.3s ease;
  }
  .checkbox-field input[type=checkbox]:checked + label:before{
    border: 0.4rem solid var(--clr-blue)
  }
  @media(max-width: 1401px){
    html{
      font-size: 15.5556px;
    }
  }
  @media(max-width: 1380px){
    html{
      font-size: 15.33px;
    }
  }
  @media(max-width: 1301px){
    html{
      font-size: 14.4556px;
    }
  }
  @media(max-width: 1281){
    html{
      font-size: 14.2222px;
    }
  }
  @media(max-width: 1201px){
    html{
      font-size: 13.3444px;
    }
  }
  @media(max-width: 1101px){
    html{
      font-size: 12.2333px;
    }
  }
  @media(max-width: 1026px){
    html{
      font-size: 11.3px;
    }
    .overlay {
      background-color: var(--clr-overlay-bg);
    }
  }
  @media(max-width: 992px){
    html{
      font-size: 11.0222px;
    }
  }
  @media(max-width: 901px){
    html{
      font-size: 10.0111px;
    }
  }
  @media(max-width: 861px){
    html{
      font-size: 9.55556px;
    }
  }
  @media(max-width: 801px){
    html{
      font-size: 8.9px;
    }
    body{
      font-size: 1.1rem;
    }
  }
  @media(max-width: 767px){
    html{
      font-size: 20px;
    }
    body{
      font-size: 1.2rem;
    }
    .btn{
      font-size: 1.25rem !important;
    }
    .member-item .overlay-content .blur-btn{
      font-size: 1.25rem;
    }
    .heading-accent.left-aligned h2 em:first-of-type {
      padding: 2.2rem 2rem 1.6rem;
    }
    .footer-navigation li{
      margin-right: 2.5rem;
      margin-bottom: 2rem;
    }
    .footer-navigation li a{
      font-size: 2.2rem;
    }
    /* header .main-navigation{
      margin-top: -13rem;
    } */
    .main-navigation a span {
      font-size: 0.9rem;
      margin-right: 1.2em;
    }
    header{
      z-index: 999;
    }
    .secondary-banner h1 i:before {
      width: 5.25rem;
      height: 6.8rem;
      left: -1.75rem;
      top: -1.2rem;
    }
    .secondary-banner.text-center h1{
      display: inline-block;
    }
    .service-card .card-content .feature-image{
      opacity: 1;
      right: 2rem;
      transform: rotate(-8deg);
      transition: all 1s cubic-bezier(.4,0,.2,1);
    }
    .team-listing .member-item .overlay-content{
      position: static;
      opacity: 1;
      visibility: visible;
      display: flex;
    }
    .team-listing .member-item .overlay-content h3{
      margin-bottom: 1.5rem;
    }
     .team-listing .member-item .overlay-content p{
      margin-bottom: 1.5rem;
    }
    .upper-text span, .lower-text span {
      font-size: 3.8rem !important
    }
    .ourvalues-listing .item > div:after{
      left: 0.2rem;
    }
    .toc-block .content {
      max-height: 0;
      overflow: hidden;
      padding-top: 0;
      padding-bottom: 0;
      transition: max-height 0.4s ease;
      opacity: 0;
    }

    .toc-block.open .content {
      max-height: 80vh;
      padding-top: 1.25rem;
      opacity: 1;
      padding-bottom: 1.5rem;
    }
    .blog-aside-content .toc-block{
      border: none !important;
    }

    .contact-form .select-field{
      position: relative;
    }
    .contact-form .select-field:after{
      right: 0.7rem;
      padding-right: 1.7rem;
    }
  }
  @media(max-width: 700px){
    html{
      font-size: 18.2529px;
    }
  }
  @media(max-width: 641px){
    html{
      font-size: 16.7145px;
    }
  }
  @media(max-width: 601px){
    html{
     font-size: 15.6714px;
    }
  }
  @media(max-width: 560px){
    html{
      font-size: 14.6023px;
    }
  }
  @media(max-width: 480px){
    html{
      font-size: 12.5163px;
    }
  }
  @media(max-width: 460px){
    html{
      font-size: 9.59583px;
    }
  }
  @media(max-width: 421px){
    html{
      font-size: 10.9778px;
    }
  }

  @media(max-width: 401px){
    html{
      font-size: 10.4563px;
    }
  }
  @media(max-width: 376px){
    html{
      font-size: 9.77836px;
    }
  }
}
.container{
  max-width: 82.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
}



@media (min-width: 768px) {
  .blog-aside-content {
    position: relative;
  }
  .blog-aside-content.sticky {
    position: fixed;
    top: 0.1rem;
  }
  .blog-aside-content.stop {
    position: absolute;
    bottom: 0;
    top: auto;
  }
}